@font-face {
  font-family: logo;
  src: url("../../fonts/IG_LOGO.ttf");
}
@font-face {
  font-family: igSans;
  src: url("../../fonts/IG_SANS.ttf");
}
#myFileUpload {
  /* Add custom styles here */
  display: none; /* Hide the default appearance of the file upload */
}

.custom-file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.19);
  aspect-ratio: 1/1;
  width: 200px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: white;
  color: #555;
  border-radius: 8px;
}
.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: igSans;
  padding-bottom: 12px;
}
.uploadContainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  letter-spacing: -1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  padding: 4px;
  width: 100%;
}
.uploadModalContainer {
  font-family: igSans;
}
.uploadModalContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  font-size: 24px;
}
.uploadModalContainer button p {
  margin: 0;
  padding: 0;
}

#postDescription {
  min-width: 99%;
  width: 99%;
  max-width: 99%;
  max-height: 200px;
  min-height: 100px;
  font-family: igSans;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.19);
}
#postDescription:focus {
  outline: 1px solid rgba(0, 0, 0, 0.509);
}
