#myFileUpload {
  /* Add custom styles here */
  display: none; /* Hide the default appearance of the file upload */
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #555;
}
