/* MOBILE: 450 */
/* MOBILE-SM: max-width: 768px  */
/* TABLET max-width: 1024px  */
/* DESKTOP: min-width: 1200px  */
@font-face {
  font-family: logo;
  src: url("../../fonts/IG_LOGO.ttf");
}
@font-face {
  font-family: igSans;
  src: url("../../fonts/IG_SANS.ttf");
}
.loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  gap: 8px;
  background-image: url("../../../static/signinblob.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.loginPortal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 1px;
  border: 1px solid rgb(219, 219, 219);
}

.loginPortal h1 {
  font-family: logo;
  user-select: none;
  padding: 0;
  margin: 0;
  font-size: 48px;
}
.loginPortal form {
  font: igSans;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.loginPortal form input {
  background-color: rgb(250, 250, 250);
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  border: 1px solid rgb(219, 219, 219);
  width: 250px;
}
.loginPortal form input:focus {
  outline-style: solid;
  outline-color: rgb(205, 205, 205);
  outline-width: 1px;
}
.loginPortal form button {
  background-color: rgba(103, 181, 250, 255);
  letter-spacing: 0.1px;
  font-weight: 900;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 4px;
}
.loginPortal form button:hover {
  outline: solid;
  outline-width: 1px;
  outline-color: rgb(219, 219, 219);
  cursor: pointer;
}

.createAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: igSans;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px;
  width: 312px;
  gap: 4px;
}
.createAccount p {
  margin: 0;
  padding: 0;
}
.createAccount a {
  color: rgba(103, 181, 250, 255);
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .loginContainer {
    color: blue;
  }
}
